@media screen and (max-width:576px) {
     
    #g3-architect{
        padding:30px  25px;
        }
        
        .g3-header-wrap{
           flex-direction: column;
           gap:17px;
        
        }
    
        .g3-navbar ul {
            gap:25px;
        }

        .g3-hero-top{
            width: 100%;
            margin-bottom:60px;
        }
        
        .g3-hero-top p{
            font-size:.9rem ;
            margin-bottom: 40px;
        }
        
        
        .g3-hero-top h2{
             font-size: 2.3rem;
             margin-bottom:20px;
        }
    
/* ////////////////////////////////////// */


        .our-features{
            padding:0px 40px;
        }
        .our-feature-container{
              flex-direction: column;
              gap:40px;
        
        }

        .our-feature-grid{
            width:100%;
           grid-template-columns: 1fr;
           gap: 25px;
        }
    
        .our-feature-text{
          width:100%;
        }
        

        /* ///////////////////// */


        .features{
            padding:0px 40px;
        }
        .features-container{
           gap:44px;
           flex-direction: column-reverse;
        }
    .left-content-text{
        padding-bottom: 20px;
    }
     .features-left-content , .features-right-content{
            width:100%;
         }

/* ................................. */


.facts-sec{
    padding:80px 40px;
}

.top-text-content{
   width:100%;
}
/* .fact-top-content-wrap{
   display:flex;
   justify-content:center;
   align-items: center;
   gap:40px ;
   flex: 1;
   
} */

.facts-card{
      width:250px;
      margin:0px;
}


.fact-bottom-text{
   width:100%;
    margin-top:30px;
}

.sponsor-wrap{
   width:100%;
  flex-direction: column;
  gap: 60px;
  margin-top:65px;
}

.sponsor-wrap img{
   width:50%;
   filter: grayscale(100%);
}

    
        
}



@media screen and (min-width:576px) and (max-width:768px) {
    #g3-architect{
        padding:30px  40px;
        }
        .g3-navbar ul{
            gap:20px;
         }

        .g3-hero-top{
            width: 100%;
            margin-bottom:60px;
        }
        
        .g3-hero-top p{
            font-size:1rem ;
            margin-bottom: 50px;
        }
        
        
        .g3-hero-top h2{
             font-size: 3.4rem;
             margin-bottom:30px;
        }


        .our-features{
            padding:0px 40px;
        }
        .our-feature-container{
              flex-direction: column;
              gap:40px;
        
        }

        .our-feature-grid{
            width:100%;
           grid-template-columns: repeat(2, 1fr);
           gap: 25px;
        }
    
        .our-feature-text{
          width:100%;
        }

        

        /* /////////////////// */

               
    .features{
        padding:0px 80px;
    }
    .features-container{
       gap:44px;
       flex-direction: column-reverse;
    }
.left-content-text{
    padding-bottom: 20px;
}
 .features-left-content , .features-right-content{
        width:100%;
     }

    .left-content-card {
        padding: 17px;
    }

.left-content-text h1{
    font-size:2.5rem;
}

.left-content-text p {
    font-size:0.9rem;
    line-height:20px;

}
    .left-content-text h3{
       font-size: 1.2rem;
    }

.left-content-card p{
    font-size:0.9rem;
    line-height: 19px;
}


/* ///////////////////////////// */

.facts-sec{
    padding:80px 40px;
}

.top-text-content{
   width:90%;
}
.fact-top-content-wrap{
    justify-content:space-evenly;
    gap:40px ;
    margin-top:60px;
   
}

.facts-card{
      width:200px;
      margin:0px;
}


.fact-bottom-text{
   width:100%;
    margin-top:70px;
}

.sponsor-wrap{
   width:100%;
  flex-direction:column;
  gap: 60px;
  margin-top:65px;
}

.sponsor-wrap img{
   width:50%;
   filter: grayscale(100%);
}

     
        
}



@media screen and (min-width:768px) and (max-width:992px) {

    #g3-architect{
        padding:30px  40px;
        }
        .g3-navbar ul{
            gap:20px;
         }

        .g3-hero-top{
            width: 100%;
            margin-bottom:60px;
        }
        
        .g3-hero-top p{
            font-size:1rem ;
            margin-bottom: 50px;
        }
        
        
        .g3-hero-top h2{
             font-size: 3.8rem;
             margin-bottom:40px;
        } 


        
        .our-features{
            padding:0px 40px;
        }
        .our-feature-container{
              flex-direction: column;
              gap:40px;
        
        }

        .our-feature-grid{
            width:100%;
           grid-template-columns: repeat(2, 1fr);
           gap: 45px;
        }
    
        .our-feature-text{
          width:100%;
        }



        /* ////////////////////// */

        
    .features{
        padding:0px 40px;
    }
    
    .features-container{
       gap:44px;
    }

    .left-content-card {
        padding: 17px;
    }

.left-content-text h1{
    font-size:2.5rem;
}

.left-content-text p {
    font-size:0.9rem;
    line-height:20px;

}
    .left-content-text h3{
       font-size: 1.2rem;
    }

.left-content-card p{
    font-size:0.9rem;
    line-height: 19px;
}
/* /////////////////////// */
.facts-sec{
    padding:80px 60px;
}

.top-text-content{
   width:90%;
}
.fact-top-content-wrap{
    justify-content:space-around;
    margin-top:60px;
   
}

.facts-card{
      width:200px;
      margin:0px;
}

.fact-bottom-text{
   width:70%;
    margin-top:70px;
}






}

@media screen and (min-width:992px) and (max-width:1200px) {
    

    .our-features{
        padding:0px 100px;
    }
    .our-feature-container{
          gap:60px;

    } 

    .our-feature-grid{
       grid-template-columns: repeat(2, 1fr);
       gap: 25px;
    }



/* /////////////////////////////////// */



    .features{
        padding:0px 100px;
    }
    
    
    .features-container{
       display:flex;
       justify-content: center;
       align-items: center;
       gap:54px;
    }
.left-content-text h1{
    font-size:2.5rem;
}

.left-content-text p {
    font-size:0.9rem;
    line-height: 22px;

}
    .left-content-text h3{
       font-size: 1.2rem;
    }
.left-content-card p{
    font-size:0.9rem;
    line-height: 22px;
}
/* //////////////////////// */

.facts-sec{
    padding:80px 100px;
}

.top-text-content{
   width:60%;
}
.fact-top-content-wrap{
    justify-content:space-around;
    margin-top:60px;
   
}

.facts-card{
      width:200px;
      margin:0px;
}

.fact-bottom-text{
   width:60%;
    margin-top:70px;
}





}